/* This is for ELMehdiCherkaoui */

/* This is for Mariam Elhaimer */

/* This is for Reda Louraibi */

/* This is for Mohamed Attefi */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    
}

nav {
    margin: 0px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px black solid;
    background-color: #EAF4F4;
}
#Line{
    width: 184px;
    height: 1px;
    align-self: center;
}

.logo {
    width: 99px;
    height: 99px;
    border: 1px black solid;
    margin-left: 98px;
}



.links {
    display: flex;
    border: 1px black solid;
    align-items: center;
    gap: 40px;
    margin-right: 98px;
    

}

.links a {
    text-decoration: none;
    color: #6B9080;
}

/* This is for Mohamed El Hamdaoui */

.Product-details {
    background-color: #EAF4F4;
    height: fit-content;
    width: 90%;
    margin: 42px auto;
    border-radius: 40px;
    padding: 40px;
    
    
}

.pd-container {
    display: flex;
    justify-content: space-between;
}

.pd-infos {
    width: 58%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.pd-infos h2 {
    color: #698B80;
    font-weight: 600  ;
    font-size: 1.8em;
    font-family: 'Poppins' , sans-serif;
}





.details-paragraph {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.pd-infos h3 {
    color: #000;
    font-weight: 500;
    font-family: 'Inter' ;
    letter-spacing: 2px;
    
}

.pd-infos p {
    color: #4E4E4E;
    font-family: Inter;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: capitalize;
    line-height: 1.8em;
}



.pd-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66%;
    
}

.pd-price h2 {
    color: #000;
    font-size: 40PX;
}

.add-to-cart button {
    width: 200px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #18A661;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.wishlist-btn button{
    color: #18A661 ;
    background-color: transparent;
    
    padding: 2px 3px;
    border-radius: 40px;
    border: #18A661 1.6px solid;
    cursor: pointer;
}

.wishlist-btn{
    font-size: larger;
}

.wishlist-btn span {
    color: #18A661 ;
    font-weight: bold;
}



.pd-image {
    
    height: fit-content;
}
.pd-image img{
    
    height: fit-content;
}



.pd-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}


.adding {
    border: #000 1px solid;
    border-radius: 12px;
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.adding div {
    font-size: 30px;
    font-weight: lighter;
}

.reviews {
    
    margin-top: 50px;
    height: 120px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
    margin-bottom: 20px;
}
.reviews p {
    text-align: center;
}

.review-container {
    display: flex;
    justify-content: space-between;
    
}

.review-container h2 {
    font-family: 'Poppins' , sans-serif;
    font-weight: 500;
}

.review-container button {
    background-color: #18A661;
    border: none;
    color: white;
    padding: 0 12px;
    cursor: pointer;
}



@media (min-width: 375px) and (max-width: 767px) {
    .Product-details {
        
        border: #000 2px solid;
        width: 100%;
        padding: 30px;

    }

    .pd-container {
        display: flex;
        flex-direction: column-reverse;
    }

    

    .pd-infos {
        width: 100%;
        margin: auto;
        padding-top: 20px;
    }



    .pd-image img{
        width: 100%;
        height: auto;
        border-radius: 40px;
        box-shadow: 0 0 10px rgb(81, 81, 81);
    }

    .pd-image {
        height: fit-content;
    }

    .pd-price {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .pd-btn {
        width: 100%;
        
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        
    }

    .add-to-cart {
        padding: 10px;
        
        padding: 0;
    }

    .reviews {
        
        display: flex;
        height: fit-content;
        padding: 0;
        margin-top: 80px;
        gap: 30px;
    }

    .review-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        justify-content: space-between;
        gap: 32px;
        height: fit-content;
    }
    
    .review-container button {
        width: fit-content;
        
        padding: 15px ;
        font-size: larger;
        font-weight: bold;
    }
    

}