/* This is for ELMehdiCherkaoui */

/* This is for Mariam Elhaimer */

/* This is for Reda Louraibi */

/* This is for Mohamed Attefi */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: inter;
}

body {
    padding-top: 7.8vw;
    position: relative;
}

nav {
    margin: 0px;
    height: 7.8vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAF4F4;
    box-shadow: 15px 15px 15px hsla(0, 0%, 0%, 0.5);
}

#Line {
    width: 184px;
    height: 1px;
    align-self: center;

}

.logo {
    width: 7.5vw;
    height: 7.5vw;
    border: 1px black solid;
    width: 7.5vw;
    height: 7.5vw;
    margin-left: 98px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.bg-menu {
    display: none;
}


.links {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 98px;


}

.links a {
    text-decoration: none;
    color: #6B9080;
    font-size: 1rem;
}

.Categories-column {
    display: flex;
    padding: 10vh 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
a:hover{
        transform: translateY(-2px);
        text-shadow: 0.5px 0.5px 1px black;
     }

@media (max-width: 767px) {
    .Categories-column {
        display: flex;
        flex-direction: column;
        gap: 10vh;
        align-items: center;
        justify-content: center;
    }

    nav {
        margin: 0px;
        height: 7.8vw;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #EAF4F4;
        box-shadow: 10px 10px 15px hsla(0, 0%, 0%, 0.5);

    }

    .links a {
        display: none;
        text-decoration: none;
        color: #31413a;
        font-size: 1rem;
    }
    a:hover{
        transform: translateY(-2px);
     }

    .logo,
    .logo img {
        width: 7.5vw;
        height: 7.5vw;

    }

    .logo {
        margin-left: 5vw;

    }

    .links img {
        display: none !important;

    }

    .bg-menu {
        display: flex;
        flex-direction: column;
        width: 7.5vw;
        align-items: end;
        margin-right: -80vw;
        position: relative;
    }



    #menu:target {
        visibility: visible;
    }



    #bg-menu-logo {
        width: 7.5vw;
        height: 7.5vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-links {
        visibility: hidden;
        margin-top: 7.7vw;
        position: absolute;
        right: -50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5vh;
        width: 50vw;
        height: 80vh;
        margin-right: -7vw;
        background-color: #a4c3b273;
        backdrop-filter: blur(5px);
        padding: 5vh;
    }

    .mobile-links a {
        text-decoration: none;
        color: #3d5b57;
        font-size: 1rem;
    }

    #button {
        margin-top: 50%;
        width: fit-content;
        height: fit-content;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bolder;
        font-size: 14px;
        border: none;
        background-color: #B2D7D7;
        color: black;
        box-shadow: 10px 10px 15px hsla(0, 0%, 0%, 0.5);

    }
}

.Categories-item {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    width: 250px;
    height: 400px;
    padding: 10px 15px;
    position: relative;
    box-shadow: 15px 15px 15px hsla(0, 0%, 0%, 0.25);
}

.Categories-item ul li {
    list-style: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.logo,
.logo img {
    width: 7.5vw;
    height: 7.5vw;

}

.Categories-item ul {
    margin-top: 3.25rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Categories-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Categories-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EAF4F4;
}

#Categories-title {
    margin: 50px 0;
    width: 90vw;
    background-color: #A4C3B2;
    text-align: center;
    border-radius: 20px;
    padding: 5px 0;
}

.Categories-button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 14px;
    border: none;
    background-color: #B2D7D7;
    color: black;
    position: absolute;
    bottom: 5%;
    box-shadow: 10px 10px 15px hsla(0, 0%, 0%, 0.5);

}

.Categories-item h2 {
    width: 112%;
    background-color: #A4C3B2;
    padding: 20px 0;
    margin-left: 0;
    font-size: 16px;
    font-weight: bold;
    transform: translate(-15px, -10px);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


#item1 {
    background-image: url(/images/BG8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#item2 {
    background-image: url(/images/bg7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#item3 {
    background-image: url(/images/BG6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


#item4 {
    background-image: url(/images/BG11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



#item5 {
    background-image: url(/images/BG5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}




#item6 {
    background-image: url(/images/BG1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}





#item7 {
    background-image: url(/images/BG8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#item8 {
    background-image: url(/images/BG12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}




/* This is for Mohamed El Hamdaoui */